<div id="contact" class="row justify-content-center">
  <div class="col-sm-9 col-sm-offset-2">
    <br/>
    <div class="row justify-content-center">
      <div class="col-sm-6 col-sm-offset-2">
        <div class="card">
          <% if current_user.weekly_sales.length > 0 %>
            <% if current_user.weekly_sale_total < 474 %>
              <div class="card-header bg-warning p-2 bg-opacity-25">
                <h5 style="padding-left: 15px; margin:0px; padding-top:4px; padding-bottom:4px;">
                  <% if current_user.admin %>
                    <i class="bi bi-person-badge" style="font-size: 20px; padding-right:20px"></i>
                  <% end %>
                  <%= current_user.full_name %>
                </h5>
              </div>
              <div class="card-body" style="padding:13px">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title">Aun no consigues la meta</h5>
                    <h6 class="card-subtitle mb-2 text-muted" style="padding-top:5px">
                      No te desanimes ya casi lo logras solo te faltan:
                    </h6>
                  </div>
                  <div class="col-4 text-end">
                    <h3 class="fs-3" style="margin:0px">
                      $ <%= 474 - current_user.weekly_sale_total %>.00
                    </h3>
                  </div>
                </div>
              </div>
            <% else %>
              <div class="card-header bg-success p-2 bg-opacity-25">
                <h5 style="padding-left: 15px; margin:0px; padding-top:4px; padding-bottom:4px;">
                  <% if current_user.admin %>
                    <i class="bi bi-person-badge" style="font-size: 20px; padding-right:20px"></i>
                  <% end %>
                  <%= current_user.full_name %>
                </h5>
              </div>
              <div class="card-body" style="padding:13px">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title">FELICIDADES LO LOGRASTE</h5>
                    <h6 class="card-subtitle mb-2 text-muted" style="padding-top:5px">
                      Has alcanzado la meta de esta semana con:
                    </h6>
                  </div>
                  <div class="col-4 text-end">
                    <h3 class="fs-3" style="margin:0px">
                      $ <%= current_user.weekly_sale_total %>.00
                    </h3>
                  </div>
                </div>
              </div>
            <% end %>
          <% else %>
            <div class="card-header bg-danger p-2 bg-opacity-25">
              <h5 style="padding-left: 15px; margin:0px; padding-top:4px; padding-bottom:4px;">
                <% if current_user.admin %>
                  <i class="bi bi-person-badge" style="font-size: 20px; padding-right:20px"></i>
                <% end %>
                <%= current_user.full_name %>
              </h5>
            </div>
            <div class="card-body" style="padding:13px">
              <div class="row">
                <div class="col">
                  <h5 class="card-title">Aun no tienes ventas</h5>
                  <h6 class="card-subtitle mb-2 text-muted" style="padding-top:5px">
                    Pero aun puedes lograrlo.
                  </h6>
                </div>
                <div class="col text-end">
                  <h3 class="fs-3" style="margin:0px">
                    Aun te quedan <%= 7 - DateTime.now.strftime("%u").to_i %> dias
                  </h3>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-sm-3 col-sm-offset-2">
        <div class="card">
          <% if current_user.last_weekly_goal_validate %>
            <div class="card-header bg-success p-2 bg-opacity-25">
              <h5 style="padding-left: 20px; margin:0px; padding-top:4px; padding-bottom:4px;">
                Semana Pasada
              </h5>
            </div>
          <% else %>
            <div class="card-header bg-danger p-2 bg-opacity-25">
              <h5 style="padding-left: 20px; margin:0px; padding-top:4px; padding-bottom:4px;">
                Semana Pasada
              </h5>
            </div>
          <% end %>
          <div class="card-body">
            <div class="row">
              <div class="col-3">
                <div class="rounded-circle bg-success p-2 bg-opacity-25 d-flex justify-content-center align-items-center" style="width:60px;height:60px" alt="Avatar">
                  <i class="bi bi-currency-dollar fs-1 fw-bold text-success"></i>
                </div>
              </div>
              <div class="col-9 text-end" style="padding-top:13px">
                <h3 class="fs-3" style="margin:0px">
                  $ <%= current_user.last_weekly_sale_total %>.00
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-sm-offset-2">
        <div class="card">
          <div class="card-header bg-success p-2 bg-opacity-25">
            <div class="row">
              <div class="col-10">
                <h5 style="padding-left: 20px; margin:0px; padding-top:4px; padding-bottom:4px;">
                  Semana Actual
                </h5>
              </div>
              <div class="col-2 text-end">
                <h5 style="padding-rigth: 20px; margin:0px; padding-top:4px; padding-bottom:4px;">
                  <% if current_user.weekly_sale_total > 473 %>
                    <i class="bi bi-award-fill text-warning" style="font-size: 20px; padding-right:20px"></i>
                  <% end %>
                </h5>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-3">
                <div class="rounded-circle bg-success p-2 bg-opacity-25 d-flex justify-content-center align-items-center" style="width:60px;height:60px" alt="Avatar">
                  <i class="bi bi-currency-dollar fs-1 fw-bold text-success"></i>
                </div>
              </div>
              <div class="col-9 text-end" style="padding-top:13px">
                <h3 class="fs-3" style="margin:0px">
                  $ <%= current_user.weekly_sale_total %>.00
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-8 col-sm-offset-2">
        <br/>
        <div class="card text-center" style="padding:25px">
          <h5 class="card-title">SITIO EN CONSTRUCCION</h5>
          <p class="card-text">Informacion en desarrollo.</p>
        </div>
      </div>
      <div class="col-sm-4 col-sm-offset-2">
        <br/>
        <div class="card">
          <div class="card-header bg-success p-2 bg-opacity-25">
            <h5 style="padding-left: 20px; margin:0px; padding-top:4px; padding-bottom:4px;">
              Sistema Siembra
            </h5>
          </div>
          <div class="card-body" style="margin-left:10px; margin-right:10px">
            <ul class="list-group list-group-flush">
              <% @rates.each do |rate| %>
                <li class="row list-group-item d-flex justify-content-between align-items-center" style="padding-left:0px; padding-right:0px">
                  <div class="col-3">
                    <div class="fw-bold">
                      Nivel - 
                      <%= rate.id %>
                    </div>
                  </div>
                  <div class="col-4 text-end">
                    <a>
                      $ <%= rate.payment.to_i * current_user.count_collaborators(rate.id, current_user) %>.00
                    </a>
                  </div>
                  <div class="col-5 text-end">
                    <% if current_user.count_collaborators(rate.id, current_user) === rate.guest.to_i %>
                      <% if !rate.rank %>
                        <span class="badge bg-success">Completado</span>
                      <% elsif  rate.id === 3 %>
                        <span class="badge text-dark" style="background-color:#adb5bd"><%= rate.rank %></span>
                        <span class="badge bg-success">Completado</span>
                      <% elsif  rate.id === 4 %>
                        <span class="badge text-dark bg-warning"><%= rate.rank %></span>
                        <span class="badge bg-success">Completado</span>
                      <% elsif  rate.id === 5 %>
                        <span class="badge text-dark" style="background-color:#fbeaf2"><%= rate.rank %></span>
                        <span class="badge bg-success">Completado</span>
                      <% elsif  rate.id === 6 %>
                        <span class="badge text-dark bg-danger"><%= rate.rank %></span>
                        <span class="badge bg-success">Completado</span>
                      <% elsif  rate.id === 7 %>
                        <span class="badge text-dark" style="background-color:#20c997"><%= rate.rank %></span>
                        <span class="badge bg-success">Completado</span>
                      <% elsif  rate.id === 8 %>
                        <span class="badge text-dark" style="background-color:#e9ecef"><%= rate.rank %></span>
                        <span class="badge bg-success">Completado</span>
                      <% elsif  rate.id === 9 %>
                        <span class="badge text-dark" style="background-color:#e9ecef"><%= rate.rank %></span>
                        <span class="badge bg-success">Completado</span>
                      <% elsif  rate.id === 10 %>
                        <span class="badge text-dark" style="background-color:#e9ecef"><%= rate.rank %></span>
                        <span class="badge bg-success">Completado</span>
                      <% end %>
                    <% end %>
                    <span class="badge bg-primary rounded-pill">
                      <%= current_user.count_collaborators(rate.id, current_user) %>
                    </span>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
          <div class="card-footer bg-success p-2 bg-opacity-25">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
