<div class="row justify-content-center container-fluid">
  <div class="col-sm-9 col-sm-offset-2">
    <br/>
    <div class="card">
      <div class="card-header bg-success p-2 bg-opacity-25">
        <div class="row">
          <div class="col align-self-center">
            <h5 style="padding-left: 20px; margin:0px; padding-top:4px; padding-bottom:4px;">
              Mensajes
            </h5>
          </div>
        </div>
      </div>
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Correo</th>
              <th scope="col">Telefono</th>
              <th scope="col">Titulo</th>
              <th scope="col" class="text-end">Estatus</th>
              <th scope="col" class="text-end">Leer</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <% @messages.each do |message| %>
              <tr>
                <td><%= message&.name %></td>
                <td><%= message&.email %></td>
                <td><%= message&.phone %></td>
                <td><%= message&.title %></td>
                <td class="text-end">
                  <% if message&.readed? %>
                    <span class="badge bg-success"><%= message&.message_readed %></span>
                  <% else %>
                    <span class="badge bg-danger"><%= message&.message_readed %></span>
                  <% end %>
                </td>
                <td class="text-end">
                  <%= link_to message_path(message) do %>
                    <i type="button" class="btn btn-outline-dark btn-sm bi bi-journal-text"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="card-footer bg-success p-2 bg-opacity-25">
      </div>
    </div>
  </div>
</div>
