<div id="contact" class="row justify-content-center">
  <div class="col-sm-9 col-sm-offset-2">
    <br/>
    <div class="card">
      <div class="card-header bg-success p-2 bg-opacity-25">
        <div class="row">
          <div class="col align-self-center">
            <h5 style="padding-left: 20px; margin:0px">
              <% if current_user.admin %>
                <i class="bi bi-person-badge text-danger" style="font-size: 20px; padding-right:20px"></i>
              <% end %>
              <%= current_user.full_name %>
            </h5>
          </div>
          <div class="col d-flex justify-content-end" style="padding-right:28px">
            <%= link_to new_user_path do %>
              <i type='button' class="btn btn-success btn-sm bi bi-plus-lg"></i>
            <% end %>
          </div>
        </div>
      </div>
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col" class="text-center">ID</th>
              <th scope="col" class="text-center">Nivel</th>
              <th scope="col">Nombre</th>
              <th scope="col">Correo</th>
              <th scope="col">Telefono</th>
              <th scope="col">Padrino</th>
              <th scope="col" class="text-end">Ver</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <% @users.each do |user| %>
              <tr>
                <th scope="row" class="align-middle text-center">
                  <% if user.admin %>
                    <i class="bi bi-person-badge text-danger" style="font-size: 20px"></i>
                  <% end %>
                </th>
                <th scope="row" class="align-middle text-center"><%= user.id %></th>
                <td class="align-middle align-middle text-center">
                  <% if user.level.present? %>
                    <%= user&.calc_level(current_user) %>
                  <% else %>
                    <i class="bi bi-exclamation-triangle text-warning"></i>
                  <% end %>
                </td>
                <td class="align-middle"><%=user.full_name %></td>
                <td class="align-middle"><%=user.email %></td>
                <td class="align-middle"><%=user.phone %></td>
                <td class="align-middle"><%=user.parent&.full_name %></td>
                <td class="align-middle text-end">
                  <%= link_to user_path(user) do %>
                    <i type="button" class="btn btn-outline-dark btn-sm bi bi-journal-text"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="card-footer bg-success p-2 bg-opacity-25">
      </div>
    </div>
  </div>
</div>
