<div class="container-fluid scrollspy-example" data-bs-spy="scroll" data-bs-target="#navbarHeader" tabindex="0">
  <div class="row justify-content-center bg-success p-2 bg-opacity-75">
    <div class="col-sm-8 col-sm-offset-2">
      <div id="carouselExampleCaptions" class="carousel carousel-dark slide" data-bs-ride="false">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://static.vecteezy.com/system/resources/previews/002/250/688/non_2x/abstract-white-background-with-many-identical-rhombuses-vector.jpg" class="w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>First slide label</h5>
              <p>Some representative placeholder content for the first slide.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="https://static.vecteezy.com/system/resources/previews/002/250/688/non_2x/abstract-white-background-with-many-identical-rhombuses-vector.jpg" class="w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Second slide label</h5>
              <p>Some representative placeholder content for the second slide.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="https://static.vecteezy.com/system/resources/previews/002/250/688/non_2x/abstract-white-background-with-many-identical-rhombuses-vector.jpg" class="w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Third slide label</h5>
              <p>Some representative placeholder content for the third slide.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="https://static.vecteezy.com/system/resources/previews/002/250/688/non_2x/abstract-white-background-with-many-identical-rhombuses-vector.jpg" class="w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Four slide label</h5>
              <p>Some representative placeholder content for the four slide.</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>

  <div id="comunity" class="row justify-content-center">
    <div class="col-sm-7 col-sm-offset-2">
      <figure class="text-center">
        <blockquote class="blockquote">
          <br/>
          <h1>Bienvenido a CASA</h1>
          <br/>
          <div class="row">
            <div class="col-6">
              <h3>Somos: Comunidad Abundación De Sayagbéh</h3>
              <br/>
              <p>Formamos parte de una comunidad de personas que buscamos la armonía en nuestra salud física, emocional, material y espiritual.</p>
              <p>Creemos que la salud debe ser integral; somos lo que comemos, lo que oímos, lo que vemos, lo que sentimos, lo que soñamos, lo que le damos a nuestro prójimo y lo que nos damos a nosotros mismos.</p>
              <p>Compartimos entre nosotros y nuestros conocidos, gran variedad de productos herbolarios y de origen natural en diversas presentaciones, cuyo principal objetivo, es mantenernos saludables para disfrutar los momentos buenos que nos ofrece la vida.</p>
              <p>Primero cuido mi salud, y luego lo comparto con mis seres queridos y mis conocidos. Lo demás, llegará por añadidura.</p>
            </div>
            <div class="col-6">
              <img src=https://toppng.com//public/uploads/preview/comunidad-115507123578hhu9vnitp.png class="w-100" alt="...">
            </div>
          </div>
          <br/>
        </blockquote>
        <figcaption class="blockquote-footer">
          MERECES ESTAR BIEN |<cite title="Source Title"> Comunidad Abundación De Sayagbéh</cite>
        </figcaption>
        <br/>
        <a class="text-center link-dark" href="#navbarHeader">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-chevron-compact-up" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M7.776 5.553a.5.5 0 0 1 .448 0l6 3a.5.5 0 1 1-.448.894L8 6.56 2.224 9.447a.5.5 0 1 1-.448-.894l6-3z"/>
          </svg>
        </a>
      </figure>
      <br/>
    </div>
  </div>

  <div id="products" class="row justify-content-center bg-success p-2 bg-opacity-75">
    <div class="col-sm-8 col-sm-offset-2">
      <figure class="text-center">
        <blockquote class="blockquote">
          <br/>
          <h1>Productos</h1>
          <br/>
          <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
              <div class="card h-100">
                <img src="https://startbootstrap.github.io/startbootstrap-freelancer/assets/img/portfolio/game.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="https://startbootstrap.github.io/startbootstrap-freelancer/assets/img/portfolio/cake.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a short card.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="https://startbootstrap.github.io/startbootstrap-freelancer/assets/img/portfolio/cabin.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="https://startbootstrap.github.io/startbootstrap-freelancer/assets/img/portfolio/safe.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="https://startbootstrap.github.io/startbootstrap-freelancer/assets/img/portfolio/circus.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="https://startbootstrap.github.io/startbootstrap-freelancer/assets/img/portfolio/submarine.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              </div>
            </div>
          </div>
        </blockquote>
        <br/>
        <a class="text-center link-dark" href="#navbarHeader">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-chevron-compact-up" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M7.776 5.553a.5.5 0 0 1 .448 0l6 3a.5.5 0 1 1-.448.894L8 6.56 2.224 9.447a.5.5 0 1 1-.448-.894l6-3z"/>
          </svg>
        </a>
      </figure>
      <br/>
    </div>
  </div>

  <div id="platform" class="row justify-content-center">
    <div class="col-sm-8 col-sm-offset-2">
      <figure class="text-center">
        <blockquote class="blockquote">
          <br/>
          <h1>Plataforma</h1>
          <br/>
          <div class="card text-center">
            <div class="card-header">
              <div class="row">
                <div class="col-9">
                  <p class="text-start" style="margin:0px">Una forma sencilla de hacer tu RED y alcanzar los rangos</p>
                  <p class="text-start" style="margin:0px">SIEMBRA con solo 3 FRONTALES. Califica a plata completando el nivel 3</p>
                </div>
                <div class="col-3">
                  <p class="text-end" style="margin:0px">1 Bote semanal</p>
                  <p class="text-end" style="margin:0px">por $474 pesos</p>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-10">
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">Nivel</th>
                          <th class="text-end" scope="col">Invitados</th>
                          <th class="text-end" scope="col">Pagos</th>
                          <th class="text-end" scope="col">Por Nivel</th>
                          <th class="text-end" scope="col">Semanal</th>
                          <th class="text-end" scope="col">Quincenal</th>
                          <th class="text-end" scope="col">Mensual</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% @rates.each do |rate| %>
                          <tr>
                            <th scope="row"><%= rate.id %></th>
                            <td class="text-end"><%= rate.guest %></td>
                            <td class="text-end">$<%= rate.payment %></td>
                            <td class="text-end"><%= rate.by_level %></td>
                            <td class="text-end"><%= rate.weekly %></td>
                            <td class="text-end"><%= rate.biweekly %></td>
                            <td class="text-end"><%= rate.monthly %></td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="col-2">
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">Clasificacion</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% @rates.each do |rate| %>
                          <tr>
                            <% if rate.rank.present? %>
                              <th scope="row"><%= rate.rank %></th>
                            <% else %>
                              <th scope="row"><br/></th>
                            <% end %>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer text-muted">
              <div class="row">
                <div class="col-9">
                  Gana hasta TREINTA MILLONES con solo 3 frontales
                </div>
                <div class="col-3">
                  $ 31,914,840 MXN
                </div>
              </div>
            </div>
          </div>
        </blockquote>
        <br/>
        <a class="text-center link-dark" href="#navbarHeader">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-chevron-compact-up" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M7.776 5.553a.5.5 0 0 1 .448 0l6 3a.5.5 0 1 1-.448.894L8 6.56 2.224 9.447a.5.5 0 1 1-.448-.894l6-3z"/>
          </svg>
        </a>
      </figure>
      <br/>
    </div>
  </div>

  <div id="contact" class="row justify-content-center bg-success p-2 bg-opacity-75">
    <div class="col-sm-7 col-sm-offset-2">
      <figure class="text-center">
        <blockquote class="blockquote">
          <br/>
          <h1>Contactanos</h1>
          <br/>
        </blockquote>
      </figure>

      <%= form_for :message, url: messages_path do |form| %>
        <div class="mb-3">
          <label for="nameField" class="form-label fs-5 fw-semibold h1">Nombre Completo</label>
          <%= form.text_field :name, class: "form-control form-control-lg", placeholder: "Alberto Acosta", id: "nameField" %>
        </div>
        <div class="mb-3">
          <label for="mailField" class="form-label fs-5 fw-semibold h1">Correo Electronico</label>
          <%= form.text_field :email, class: "form-control form-control-lg", placeholder: "name@example.com", id: "mailField" %>
        </div>
        <div class="mb-3">
          <label for="phoneField" class="form-label fs-5 fw-semibold h1">Numero Celular</label>
          <%= form.text_field :phone, class: "form-control form-control-lg", placeholder: "000 000 0000", id: "phoneField" %>
        </div>
        <div class="mb-3">
          <label for="titleField" class="form-label fs-5 fw-semibold h1">Titulo</label>
          <%= form.text_field :title, class: "form-control form-control-lg", placeholder: "Introduccion", id: "titleField" %>
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label fs-5 fw-semibold h1">Mensaje</label>
          <%= form.text_area :message, class: "form-control form-control-lg", placeholder: "Mensaje", id: "mailField" %>
          <%= form.hidden_field :readed, value: false, class: "form-control" %>
        </div>
        <div class="mb-3">
          <%= button_tag class: "btn btn-light" do %>
            Enviar Mensaje
          <% end %>
        </div>
      <% end %>
      <br/>
      <figure class="text-center">
        <a class="text-center link-dark" href="#navbarHeader">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-chevron-compact-up" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M7.776 5.553a.5.5 0 0 1 .448 0l6 3a.5.5 0 1 1-.448.894L8 6.56 2.224 9.447a.5.5 0 1 1-.448-.894l6-3z"/>
          </svg>
        </a>
      </figure>
      <br/>
    </div>
  </div>

  <div class="row justify-content-center" style="background-color:#0a3622">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="row justify-content-center">
        <div class="col-10">
          <figure class="text-center">
            <blockquote class="blockquote text-white">
              <h4 class="card-title">Ubicación</h4>
              <br/>
              <p>Calle Principal No.000, Colonia Imaginada, Chetumal Quintana Roo, Mexico</p>
            </blockquote>
          </figure>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-10">
          <figure class="text-center">
            <blockquote class="blockquote text-white">
              <h4 class="card-title">Redes Sociales</h4>
              <br/>
                <a href="https://www.facebook.com/comunidadsayagbeh" class="link-light" target="_blank">
                  <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
                    <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
                  </svg>
                </a>
                <a href="https://www.instagram.com/accounts/login/?next=/accounts/logout/" class="link-light" target="_blank">
                  <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-instagram" viewBox="0 0 16 16">
                    <path d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z"/>
                  </svg>
                </a> 
            </blockquote>
            <br/>
            <figcaption class="text-light">
              <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
                  <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                </svg>
                  Visite nuestras redes sociales
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
                  <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                </svg>
              </div>
              <br/>
            </figcaption>
          </figure>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-10">
          <figure class="text-center">
            <blockquote class="blockquote text-white">
              <h4 class="card-title">Productos Sayagbeh</h4>
              <br/>
              <p>A well-known quote, contained in a blockquote element.</p>
            </blockquote>
            <figcaption class="blockquote-footer text-light">
              Someone famous in <cite title="Source Title">Source Title</cite>
              <br/>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>

</div>

