<div id="contact" class="row justify-content-center">
  <div class="col-sm-9 col-sm-offset-2">
    <br/>
    <div class="card">
      <div class="card-header bg-success p-2 bg-opacity-25">
        <div class="row">
          <div class="col align-self-center">
            <h5 style="padding-left: 20px; margin:0px">
              Productos
            </h5>
          </div>
          <% if current_user.admin %>
            <div class="col d-flex justify-content-end" style="padding-right:28px">
              <%= link_to new_product_path do %>
                <i type='button' class="btn btn-success btn-sm bi bi-plus-lg"></i>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Codigo</th>
              <th scope="col">Nombre</th>
              <th scope="col">Descripcion</th>
              <th scope="col">Ingredientes</th>
              <th scope="col" class="text-end">Piezas</th>
              <th scope="col" class="text-end">Precio</th>
              <th scope="col" class="text-end">Ver</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <% @products.each do |product| %>
              <tr>
                <th scope="row"><%=product.code %></th>
                <td><%=product.name %></td>
                <td><%=product.description %></td>
                <td><%=product.ingredients %></td>
                <td class="text-end"><%=product.stock %></td>
                <td class="text-end">$ <%=product.price %>.00</td>
                <td class="text-end">
                  <%= link_to product_path(product) do %>
                    <i type="button" class="btn btn-outline-dark btn-sm bi bi-journal-text"></i>
                  <% end %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="card-footer bg-success p-2 bg-opacity-25">
        </div>
      </div>
    </div>
  </div>
