<div class="row justify-content-center container-fluid">
  <div class="col-sm-9 col-sm-offset-2">
    <br/>
    <div class="card">
      <div class="card-header bg-success p-2 bg-opacity-25">
        <div class="row">
          <div class="col align-self-center">
            <h5 style="padding-left: 20px; margin:0px">
              Productos
            </h5>
          </div>
          <% if current_user&.admin %>
            <div class="col d-flex justify-content-end" style="padding-right:28px">
              <%= link_to new_product_path do %>
                <i type='button' class="btn btn-success btn-sm bi bi-plus-lg"></i>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="card-body">
        <div class="row row-cols-1 row-cols-md-4 g-4">
          <% @products.each do |product| %>
            <div class="col">
              <div class="card h-100">
                <% if product === @best_seller %>
                  <h3 class="card-header text-center bg-warning"><%= product.name %></h3>
                <% else %>
                  <h3 class="card-header text-center"><%= product.name %></h3>
                <% end %>
                <%= link_to product_path(product) do %>
                  <%= image_tag(product.picture_name, class:"card-img-top", style:"padding:25px; background-color:#ced4da;") %>
                <% end %>
                <div class="card-body">
                  <p class="card-text"><%= product.description %></p>
                </div>
                <h2 class="card-footer text-end" style="margin:0px;">
                  <span class="badge bg-success rounded-pill">$ <%= product.price %>.00</span>
                </h2>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
