<div class="row justify-content-center container-fluid">
  <div class="col-sm-9 col-sm-offset-2">
    <br/>
    <div class="card">
      <div class="card-header bg-success p-2 bg-opacity-25">
        <div class="row">
          <div class="col align-self-center">
            <h5 style="padding-left: 20px; margin:0px">
              Ventas
            </h5>
          </div>
          <div class="col d-flex justify-content-end" style="padding-right:28px">
            <%= link_to new_sale_path do %>
              <i type='button' class="btn btn-success btn-sm bi bi-plus-lg"></i>
            <% end %>
          </div>
        </div>
      </div>
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col" class="text-center">Tiket</th>
              <th scope="col">Colaborador</th>
              <th scope="col">Total</th>
              <th scope="col">Saldo</th>
              <th scope="col">Fecha</th>
              <th scope="col">Estatus</th>
              <th scope="col" class="text-end">Acciones</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <% @sales.each do |sale| %>
              <tr>
                <th scope="row" class="align-middle text-center"><%= sale&.id %></th>
                <td class="align-middle"><%= sale&.user.first_name %> <%= sale&.user.last_name %></td>
                <td class="align-middle">
                  <% if sale&.total_amount? %>
                    $ <%= sale&.total_amount %>.00
                  <% end %>
                </td>
                <td class="align-middle">
                  <% if current_user.admin %>
                    $ <%= sale&.provider_balance %>.00
                  <% else %>
                    $ <%= sale&.total_balance %>.00
                  <% end %>
                </td>
                <td class="align-middle"><%= sale&.updated_at %></td>
                <td class="align-middle">
                  <% if current_user.admin && sale&.provider_status %>
                    <span class="badge bg-success">Completado</span>
                  <% else %>
                    <% if sale&.status === "pending" %>
                      <span class="badge bg-danger"> <%= sale&.sale_status %> </span>
                    <% end %>
                    <% if sale&.status === "budget" %>
                      <span class="badge bg-warning"> <%= sale&.sale_status %> </span>
                    <% end %>
                    <% if sale&.status === "completed" %>
                      <span class="badge bg-success"> <%= sale&.sale_status %> </span>
                    <% end %>
                  <% end %>
                </td>
                <td class="align-middle text-end">
                  <div class="row text-end">
                    <div class="col text-end" style="padding:0px">
                      <% if !sale.provider_status %>
                        <%= button_to sale_path(sale), method: :delete, class: "btn btn-danger btn-sm" do %>
                          <i class="bi bi-trash"></i>
                        <% end %>
                      <% end %>
                    </div>
                    <div class="col-5 text-end">
                      <%= link_to sale_path(sale) do %>
                        <i type="button" class="btn btn-outline-dark btn-sm bi bi-journal-text"></i>
                      <% end %>
                    </div>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
       </div>
      <div class="card-footer bg-success p-2 bg-opacity-25">
        <%= paginate @sales %>
      </div>
    </div>
  </div>
</div>